#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* fghj */
.dropdown {
  position:absolute
}

.searchInput {
  color: #1a1a1a;
  background-color: #f1f1f1;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
}

.dropdown-content {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 16px;
  position: absolute;
  border-radius: 8px;
  background-color: #1a1a1a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content a {
  color: rgba(255, 255, 255, 0.87);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #1a1a1a;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.87);
}

.image-list-1 {
  display: inline;
  /* padding: 1em; */
}

.image-list-1 div {
  margin: 1vw;
}

.small-art-tile {
  /* max-height: 10vw;
  max-width: 15vw; */
  padding: 1vw;
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  display: inline-block;
}

/* .small-art-container {
  max-width: 14vw;
  max-height: 9vw;
  width: 100%;
} */

.small-art-container button {
  z-index: 1;
  width: 20vw;
}

.small-image {
  z-index: 0;
  width: 20vw;
  height: 20vw;
  /* width: 100%; */
  object-fit:scale-down;
  display: inline;
}

.small-info {
  max-width: 200px;
  display: inline-block;
}

.wallBoundry {
  width: 90vw;
}

.backgroundImage {
  width: 90vw;
}

.wall-list {
  display: inline;
  /* padding: 1em; */
}

.wall-list div {
  margin: 1vw;
}

.wall-art-tile {
  /* max-height: 10vw;
  max-width: 15vw; */
  padding: 1vw;
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  display: inline-block;
}

.small-image {
  z-index: 0;
  width: 20vw;
  height: 20vw;
  /* width: 100%; */
  object-fit:scale-down;
  display: inline;
}