#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.searchInput {
  color: #1a1a1a;
  background-color: #f1f1f1;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
}

.image-list-1 {
  display: contents;
  /* padding: 1em; */
}

.image-list-1 div {
  margin: 1vw;
}

.small-art-tile {
  /* max-height: 10vw;
  max-width: 15vw; */
  padding: 1vw;
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  display: inline-block;
}

/* .small-art-container {
  max-width: 14vw;
  max-height: 9vw;
  width: 100%;
} */

.small-art-container button {
  z-index: 1;
  width: 20vw;
  font-size: 2vw;
}

.small-image {
  z-index: 0;
  width: 20vw;
  height: 20vw;
  /* width: 100%; */
  object-fit:scale-down;
  display: inline;
}

.small-info {
  max-width: 200px;
  display: inline-block;
}

.wallBoundry {
  position:relative;
  width: 90vw;
}

.list-boundary {
  /* border: solid 6px; */
  position: absolute;
  z-index: 1;
  width: 78vw;
  height: 38vw;
  left: 5.5vw;
  top: 5.5vw;
}

.image-boundary {
  position: absolute;
  z-index: 0;
}

.backgroundImage {
  width: 90vw;
}

.wall-list {
  display:contents;
  /* padding: 1em; */
}

.wall-list div {
  margin: 1vw;
}

.wall-art-tile {
  padding: 1vw;
  color: #1a1a1a;
  display: inline-block;
}

.wall-image {
  z-index: 0;
  width: 11vw;
  height: 11vw;
  /* width: 100%; */
  object-fit:scale-down;
  display: inline;
}

.highlight-header {
  position: relative;
  top: 55vw;
}

.highlight-boundary {
  background-color: #f1f1f1;
  position: relative;
  top: 55vw;
  width: 80vw;
}

.highlight-image-box {
  position:absolute;
  left: -10vw;
  width: 35vw;
  height: 35vw;
  object-fit: scale-down;
}

.highlight-image {
  position: absolute;
  width: 35vw;
  height: 35vw;
  object-fit: scale-down;
}

.highlight-info {
  position: absolute;
  text-align: left;
  left: 50vw;
}

.highlight-info p {
  display: table;
  font-size: 1.7vw;
}

/* .highlight-description {
  position: absolute;
  width: 80vw;
  top: 30vw;
}

.highlight-description p {
  text-align: left;
  font-size: 1.7vw;
} */

.highlight-header {
  font-size: 3vw;
}