#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.searchInput {
  color: #1a1a1a;
  background-color: #f1f1f1;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
}

.image-list-1 {
  display: contents;
  /* padding: 1em; */
}

.image-list-1 div {
  margin: 1vw;
}

.small-art-tile {
  /* max-height: 10vw;
  max-width: 15vw; */
  padding: 1vw;
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  display: inline-block;
}

/* .small-art-container {
  max-width: 14vw;
  max-height: 9vw;
  width: 100%;
} */

.small-art-container button {
  z-index: 1;
  width: 20vw;
  font-size: 2vw;
}

.small-image {
  z-index: 0;
  width: 20vw;
  height: 20vw;
  /* width: 100%; */
  object-fit:scale-down;
  display: inline;
}

.small-info {
  max-width: 200px;
  display: inline-block;
}

.wallBoundry {
  position:relative;
  width: 90vw;
}

.list-boundary {
  /* border: solid 6px; */
  position: absolute;
  z-index: 1;
  width: 78vw;
  height: 38vw;
  left: 5.5vw;
  top: 5.5vw;
}

.image-boundary {
  position: absolute;
  z-index: 0;
}

.backgroundImage {
  width: 90vw;
}

.wall-list {
  display:contents;
  /* padding: 1em; */
}

.wall-list div {
  margin: 1vw;
}

.wall-art-tile {
  padding: 1vw;
  color: #1a1a1a;
  display: inline-block;
}

.wall-image {
  z-index: 0;
  width: 11vw;
  height: 11vw;
  /* width: 100%; */
  object-fit:scale-down;
  display: inline;
}

.highlight-boundary {
  position: relative;
  top: 60vw;
  width: 80vw;
}